.btn-salvar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 6px;         
    cursor: pointer;            
    background-color: #2eb82e;   
    color: #ffffff;
    width: 80px;
}
.btn-cancelar{

    display: flex;       
    align-items: center;        
    justify-content: center;   
    padding: 10px 20px;            
    font-size: 13px;           
    font-weight: 600;           
    border: 1px solid #101a40;
    border-radius: 6px;         
    cursor: pointer;            
    background-color:white;   
    color: #101a40;
    width: 80px;
} 
/* perguntar sobre o botão para o fábio */
.btn-novo-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 13px; 
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #0d237d;
    color: white;
    gap: 25px;
    width: 250px;
    left: 100px;
}
.btn-fechar-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    color: black;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
}
.btn-excluir{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    color: black;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
}
.btn-editar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    color: black;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
}
.btn-filtro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    color: black;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
}


/* Banco de Conhecimento */
.btn-novo-conhecimento{

}
.btn-ver-tudo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    color: rgb(36, 36, 214);
    cursor: pointer;
    font-size: 13px ;
    background-color: transparent;
}
.btn-descricao-detalhada{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    color: rgb(36, 36, 214);
    cursor: pointer;
    font-size: 13px ;
    background-color: transparent;
}
.btn-ver-completo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    color: rgb(36, 36, 214);
    cursor: pointer;
    font-size: 13px ;
    background-color: transparent; 
}
.btn-ver-todas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    color: rgb(36, 36, 214);
    cursor: pointer;
    font-size: 13px ;
    background-color: transparent; 
}

/* Tela de Notificações */
.btn-notificacao-todas,
.btn-notificacao-lida,
.btn-notificacao-nao-lida{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    border-bottom: 2px solid transparent;
    color: rgb(8, 8, 10);
    cursor: pointer;
    font-size: 13px ;
    background-color: transparent; 
    transition: color 0.3s ease, border-color 0.3s ease;
}
.btn-notificacao-todas:hover,
.btn-notificacao-lida:hover,
.btn-notificacao-nao-lida:hover{
  color: blue;
  border-bottom: 2px solid blue;
}
.btn-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    color: black;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
}

/* Tela Vulnerabilidades_modais de confirmação */
.btn-conf-nao-inativacao{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 55, 55);
    color: rgb(97, 94, 94); /*colocar um cinza deacordo com o do fábio*/
    border: none;
    cursor: pointer;
}